
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  padding: 30px;
  position: relative;
}

.top-circle {
  clip-path: path("M0,100 Q50%,0 100%,100 L100%,0 L0,0 Z");
}


.container {
  max-width: 1200px;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; 
}


.branding {
  flex: 2; 
  padding: 20px;
}

.branding h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.branding p {
  margin-bottom: 10px;
  line-height: 1.5;
}


.links {
  flex: 1; 
  padding: 10px;
}

.learn-more h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f4cb69;
}

a {
  color: #e7c986;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #ffffff;
}


.join-us ul {
  list-style: none;
  display: flex; 
  gap: 15px; 
  justify-content: center;
}

.join-us li img {
  width: -20px;
  height: 30px;
}

.join-us li img:hover {
  transform: scale(1.1);
}


.likelion-logo {
  width: 50px; 
  height: auto;
  margin-top: 20px;
}

