#likelion_grid {
    border: 1px solid red;
    background-color: #f9c756;
    padding: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
    .grid-member {
      margin-right: 50px;
      margin-bottom: 100px;
      background-color: #0d1c3c;
      border-radius: 20px;
      width: 200px;
      height: 300px;
      text-align: center;
      padding-top: 20px;
  
      cursor: pointer;
      box-shadow: 0 5px 18px 3px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;
    }
  
    .grid-member:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.2);
    }
  
    .grid-member:active {
      box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.25);
    }
  
    .grid-info-box {
      padding-top: 10px;
      margin-top: 20px;
      background-color: white;
      width: auto;
      height: 200px;

      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      position: relative;
    }
  
    .grid-info-memoji {
      border-radius: 50%;
      height: 150px;
      width: 150px;
      text-align: center;
    }
  
    .grid-info-memoji-box {
      background-color: white;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-left: 25px;
    }
  
    .grid-info-music-box {
      margin-top: 10px;
      margin-left: 20px;
      padding: 5px;
      border: 2px solid #36c038;
      border-radius: 20px;
      width: 150px;
    }
  
    .grid-info-music-box span {
      font-size: smaller;
    }
  
    .grid-info-music-note {
      padding-right: 5px;
      width: 20px;
      height: 20px;
      vertical-align: sub;
    }
  
    .grid-info-nick {
      padding-top: 20px;
      font-family: "GmarketSansMedium", sans-serif;
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }
    .grid-info-name {
      padding-top: 10px;
      font-family: "GmarketSansMedium", sans-serif;
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }
    .grid-info-footer {
      padding-top: 30px;
      font-family: "GmarketSansMedium", sans-serif;
      font-size: 10px;
      color: #a59f9f;
    }
  }